@using Bridge.WebApp.Pages.Admin.Models

<div>
    <MudForm Model="OpeningTime">
        <div class="opening-time-list-item">
            <div style="width:100px;">
                <MudText>@OpeningTime.DayString</MudText>
            </div>
            <MudText>영업 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="OpeningTime.OpenTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(OpeningTime.Dayoff || OpeningTime.TwentyFourHours || ReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="OpeningTime.CloseTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(OpeningTime.Dayoff || OpeningTime.TwentyFourHours || ReadOnly)" />
            </div>

            <MudText>휴식 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="OpeningTime.BreakStartTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(OpeningTime.Dayoff || ReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="OpeningTime.BreakEndTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(OpeningTime.Dayoff || ReadOnly)" />
            </div>

            <MudSwitch @bind-Checked="OpeningTime.Dayoff"
                       T="bool"
                       Label="휴무일"
                       Color="Color.Info"
                       ReadOnly="ReadOnly" />
            <MudSwitch @bind-Checked="OpeningTime.TwentyFourHours"
                       T="bool"
                       Label="24시간"
                       Color="Color.Success"
                       ReadOnly="ReadOnly" />
        </div>
    </MudForm>
</div>

@code {
    [Parameter]
    public OpeningTimeFormModel OpeningTime { get; set; } = null!;

    [Parameter]
    public bool ReadOnly { get; set; }
}