@using Bridge.WebApp.Pages.Admin.Models

<div>
    <MudForm>
        <div class="opening-time-list-item">
            <div style="width:100px;">
                <MudText>@OpeningDay</MudText>
            </div>
            <MudText>영업 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="OpenTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(IsDayoff || Is24Hours || ReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="CloseTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(IsDayoff || Is24Hours || ReadOnly)" />
            </div>

            <MudText>휴식 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="BreakStartTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(IsDayoff || ReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="BreakEndTime"
                               Editable="true"
                               ReadOnly="ReadOnly"
                               Disabled="@(IsDayoff || ReadOnly)" />
            </div>

            <MudSwitch @bind-Checked="IsDayoff"
                       T="bool"
                       Label="휴무일"
                       Color="Color.Info"
                       ReadOnly="ReadOnly" />
            <MudSwitch @bind-Checked="Is24Hours"
                       T="bool"
                       Label="24시간"
                       Color="Color.Success"
                       ReadOnly="ReadOnly" />
        </div>
    </MudForm>
</div>

@code {
    [Parameter]
    public OpeningTimeModel OpeningTime { get; set; } = null!;

    public string OpeningDay => OpeningTime.DayString;

    public TimeSpan? OpenTime 
    {
        get => OpeningTime.OpenTime;
        set => OpeningTime.OpenTime = value;
    }

    public TimeSpan? CloseTime
    {
        get => OpeningTime.CloseTime;
        set => OpeningTime.CloseTime = value;
    }

    public TimeSpan? BreakStartTime
    {
        get => OpeningTime.BreakStartTime;
        set => OpeningTime.BreakStartTime = value;
    }

    public TimeSpan? BreakEndTime
    {
        get => OpeningTime.BreakEndTime;
        set => OpeningTime.BreakEndTime = value;
    }

    public bool IsDayoff 
    {
        get => OpeningTime.IsDayoff;
        set
        {
            OpeningTime.IsDayoff = value;
            OpeningTime.SyncIsDayoff();
        }
    }

    public bool Is24Hours
    {
        get => OpeningTime.Is24Hours;
        set
        {
            OpeningTime.Is24Hours = value;
            OpeningTime.SyncIs24Hours();
        }
    }

    [Parameter]
    public bool ReadOnly { get; set; }

    protected override void OnInitialized()
    {
    }

}