@attribute [Route(PageRoutes.Home)]
@attribute [AllowAnonymous]

<PageTitle>플차</PageTitle>

<div class="page">
    <MudContainer Class="search-container" MaxWidth="MaxWidth.Medium">
        <div class="address-line">
            <MudButton Style="flex: 1 1 auto;"
                       Color="Color.Info"
                       OnClick="SelectLocation_ClickAsync">
                @_centerAddress
            </MudButton>
            <MudIconButton OnClick="Settings_ClickAsync"
                           Icon="@Icons.Material.Filled.Settings" />
        </div>

        <div class="search-line">
            <MudTextField @ref="_searchField"
                          Placeholder="검색어를 입력하세요"
                          T="string"
                          @bind-Value="_searchText"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          Variant="Variant.Outlined"
                          OnKeyUp="AutoComplete_OnKeyUpAsync" />
        </div>

        @if (_searched && !_placeList.Any())
        {
            <div style="padding:10px;">
                <MudText>검색결과가 없습니다</MudText>
            </div>
        }
        else
        {
            <MudList Clickable="true">
                @foreach (var place in _placeList)
                {
                    <MudListItem Class="list-item">
                        <div class="flex-row">
                            <div>
                                <div class="flex-row">
                                    <MudText Class="right-margin">@place.Name</MudText>
                                    <MudText Class="right-margin">@place.CategoriesString</MudText>
                                </div>
                                <div class="flex-row">
                                    <MudText Class="right-margin">@place.DistanceString</MudText>
                                    <MudText Class="right-margin">@place.ContactNumber</MudText>
                                </div>
                            </div>
                            <MudSpacer />

                            @if (place.ImageUrl != null)
                            {
                                <MudImage ObjectFit="ObjectFit.Contain" Src="@place.ImageUrl" Width="70" Height="70" />
                            }
                        </div>

                    </MudListItem>
                }
            </MudList>
        }
    </MudContainer>
</div>