@attribute [Route(PageRoutes.Home)]
@attribute [AllowAnonymous]

<PageTitle>브릿지</PageTitle>

<div class="page">
    <MudToolBar Class="toolbar">
        <MudSpacer />

        @if (_isAuthenticated)
        {
            <MudButton Size="Size.Medium"
                   Variant="Variant.Text"
                   Href="@(PageRoutes.Identity.Logout)">
                로그아웃
            </MudButton>
        }
        else
        {
            <MudButton Size="Size.Medium"
                   Variant="Variant.Text"
                   Href="@(PageRoutes.Identity.Register)">
                가입하기
            </MudButton>
            <MudButton Size="Size.Medium"
                   Variant="Variant.Text"
                   Href="@(PageRoutes.Identity.Login)">
                로그인
            </MudButton>
        }
    </MudToolBar>

    <MudContainer Class="search-container" MaxWidth="MaxWidth.Medium">
        <div class="address-line">
            <MudButton Style="flex: 1 1 auto;"
                       Color="Color.Info"
                       OnClick="SelectLocation_ClickAsync">
                @_centerAddress
            </MudButton>
            <MudIconButton OnClick="Settings_ClickAsync"
                           Icon="@Icons.Material.Filled.Settings" />
        </div>

        <div class="search-line">
            <MudAutocomplete Placeholder="검색어를 입력하세요"
                             T="string"
                             @bind-Value="_searchText"
                             CoerceValue="true"
                             Adornment="Adornment.Start"
                             AdornmentIcon="@Icons.Material.Filled.Search"
                             SearchFunc="async (text) => new List<string>()"
                             Variant="Variant.Outlined"
                             OnKeyUp="AutoComplete_OnKeyUpAsync" />
        </div>

        <MudList>
            @{
                foreach (var place in _placeList)
                {
                    <MudListItem>
                        <div class="place-item">
                            <MudImage Width="100" Height="100" />
                            <div>
                                <MudText>@place.Name</MudText>
                                <MudText>@place.Address</MudText>
                                <MudText>@place.DistanceString</MudText>
                                <MudText>@place.ContactNumber</MudText>
                            </div>
                            <div>
                                <MudText>@place.CategoriesString</MudText>
                            </div>
                        </div>

                    </MudListItem>
                }
            }

        </MudList>
    </MudContainer>
</div>