@using Bridge.Domain.Places.Entities
@using Bridge.WebApp.Pages.Admin.Models
@attribute [Route(PageRoutes.Admin.PlaceList)]
@attribute [Authorize(Policy = Bridge.Shared.Constants.PolicyConstants.Admin)]

<div class="page">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudToolBar>
            <div class="place-type-select">
                <AdvSelect T="PlaceType?"
                           Label="장소 타입"
                           @bind-Value="_placeType"
                           ToStringFunc="GetPlaceTypeDisplayText">
                    @{
                        <MudSelectItem Value="(PlaceType?)null" />
                        foreach (PlaceType? type in Enum.GetValues<PlaceType>())
                        {
                            <MudSelectItem Value="@type"></MudSelectItem>
                        }
                    }
                </AdvSelect>
            </div>

            <div class="search-field">
                <AdvTextField T="string"
                              Label="검색어"
                              @bind-Text="_searchText"
                              OnKeyUp="SeachText_KeyUp">
                </AdvTextField>
            </div>

            <MudButton Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick="Load_ClickAsync">조회</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="Create_Click"
                       StartIcon="@Icons.Material.Filled.Add">추가</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="CreateRestroom_Click"
                       StartIcon="@Icons.Material.Filled.Add">화장실 추가</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="RestroomExcelDownload_Click"
                       StartIcon="@Icons.Material.Filled.Add">화장실 엑셀 다운로드</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="RestroomExcelUpload_Click"
                       StartIcon="@Icons.Material.Filled.Add">화장실 엑셀 업로드</MudButton>
        </MudToolBar>

        <MudTable T="PlaceModel"
                  Items="_places"
                  RowsPerPage="_rowsPerPage"
                  Hover="true"
                  Dense="true">
            <HeaderContent>
                <MudTh>유형</MudTh>
                <MudTh>이름</MudTh>
                <MudTh>카테고리</MudTh>
                <MudTh>주소</MudTh>
                <MudTh>연락처</MudTh>
                <MudTh>위경도</MudTh>
                <MudTh>동북향</MudTh>
                <MudTh>영업시간</MudTh>
                <MudTh>메뉴</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="유형">
                    <MudHighlighter Text="@context.TypeString" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="이름">
                    <MudHighlighter Text="@context.Name" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="카테고리">
                    <MudHighlighter Text="@context.CategoriesString" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="주소">
                    <MudHighlighter Text="@context.Address" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="연락처">
                    <MudHighlighter Text="@context.ContactNumber" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="위경도">
                    <MudHighlighter Text="@context.LatitudeLongitudeString" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="동북향">
                    <MudHighlighter Text="@context.EastingNorthingString" HighlightedText="@_searchText" />
                </MudTd>
                <MudTd DataLabel="영업시간">
                    <MudButton Variant="Variant.Outlined" @onclick="@(() => ToggleShowOpeningTime_Click(context))">@(context.ShowOpeningTimes ? "닫기" : "열기")</MudButton>
                    </MudTd>
                    <MudTd>
                        <MudMenu Label="메뉴"
                             Variant="Variant.Outlined"
                             EndIcon="@Icons.Filled.KeyboardArrowDown">
                            <MudMenuItem @onclick="@(() => EditPlace_Click(context))">수정</MudMenuItem>
                            <MudMenuItem @onclick="@(() => ManagePlace_Click(context))">장소 관리</MudMenuItem>
                            <MudMenuItem @onclick="@(() => ManageProduct_Click(context))">제품 관리</MudMenuItem>
                            <MudMenuItem @onclick="@(() => ClosePlace_Click(context))">폐업</MudMenuItem>
                        </MudMenu>
                    </MudTd>
                </RowTemplate>

                <ChildRowContent>
                @if (context.ShowOpeningTimes)
                {
                    <MudTr>
                        <td colspan="4">
                            @foreach (var openingTime in context.OpeningTimesFromMonday)
                            {
                                <Bridge.WebApp.Pages.Admin.Components.OpeningTimeListItem OpeningTime="@(OpeningTimeFormModel.Create(openingTime))" ReadOnly="true" />
                            }
                        </td>
                    </MudTr>
                }
            </ChildRowContent>

            <PagerContent>
                <TablePagination TotalCount="_totalCount" PageCount="_pageCount"
                                 PageNumber="_pageNumber" PageNumberChanged="PageNumberChanged"
                                 RowsPerPage="_rowsPerPage" RowsPerPageChanged="RowsPerPageChanged" />
            </PagerContent>

        </MudTable>
    </MudContainer>
</div>

@code {

}
