@using Bridge.WebApp.Pages.Common.Models
@using Bridge.WebApp.Pages.Common.ViewModels
@inject IOpeningTimeViewModel VM

<div>
    <MudForm>
        <div class="opening-time-list-item">
            <div style="width:100px;">
                <MudText>@VM.OpenDay</MudText>
            </div>
            <MudText>영업 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="VM.OpenTime"
                               Editable="true"
                               ReadOnly="VM.IsReadOnly"
                               Disabled="@(VM.IsDayoff || VM.Is24Hours || VM.IsReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="VM.CloseTime"
                               Editable="true"
                               ReadOnly="VM.IsReadOnly"
                               Disabled="@(VM.IsDayoff || VM.Is24Hours || VM.IsReadOnly)" />
            </div>

            <MudText>휴식 시간</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="VM.BreakStartTime"
                               Editable="true"
                               ReadOnly="VM.IsReadOnly"
                               Disabled="@(VM.IsDayoff || VM.IsReadOnly)" />
            </div>
            <MudText>~</MudText>
            <div style="width:100px;">
                <AdvTimePicker @bind-Time="VM.BreakEndTime"
                               Editable="true"
                               ReadOnly="VM.IsReadOnly"
                               Disabled="@(VM.IsDayoff || VM.IsReadOnly)" />
            </div>

            <MudSwitch @bind-Checked="VM.IsDayoff"
                       T="bool"
                       Label="휴무일"
                       Color="Color.Info"
                       ReadOnly="VM.IsReadOnly" />
            <MudSwitch @bind-Checked="VM.Is24Hours"
                       T="bool"
                       Label="24시간"
                       Color="Color.Success"
                       ReadOnly="VM.IsReadOnly" />
        </div>
    </MudForm>
</div>

@code {
    [Parameter]
    public OpeningTime OpeningTime { get; set; } = null!;

    [Parameter]
    public bool IsReadOnly { get; set; }

    protected override void OnParametersSet()
    {
        VM.OpeningTime = OpeningTime;
        VM.IsReadOnly = IsReadOnly;
    }
}