@using Bridge.WebApp.Pages.Home.Models
<div class="place-list-item">
    <div>
        <div class="flex-r">
            <MudText Class="right-margin text-nowrap">@Place.Name</MudText>
            <MudText Class="right-margin text-nowrap" Style="max-width:500px;">@Place.CategoriesString</MudText>
        </div>
        <div class="flex-r">
            <MudText Class="right-margin text-nowrap">@Place.DistanceString</MudText>
            <MudText Class="right-margin text-nowrap">@Place.ContactNumber</MudText>
        </div>
    </div>
    <MudSpacer />

    @if (Place.ImageUrl != null)
    {
        <MudImage ObjectFit="ObjectFit.Contain" Src="@Place.ImageUrl" Width="70" Height="70" />
    }
    @if (ShowExpansionIcon)
    {
        <MudIconButton Icon="@Icons.Material.Outlined.ExpandMore" OnClick="@(()=> _expanded = !_expanded)" />
    }
</div>

@code {
    private bool _expanded = false;

    [Parameter]
    public bool ShowExpansionIcon{ get; set; }

    [Parameter]
    public PlaceListModel Place { get; set; } = null!;
}
