@using Bridge.WebApp.Pages.Home.ViewModels
@attribute [Route(PageRoutes.Home)]
@attribute [AllowAnonymous]
@inject IIndexViewModel VM
@implements IAsyncDisposable

<PageTitle>플차</PageTitle>

<div class="page">
    <div id="@VM.MapElementId" style="width:100%; height:100%;">
    </div>

    <div class="search-container">
        <div class="address-line">
            <MudButton Color="Color.Info"
                       OnClick="VM.ShowLocationSelectionAsync">
                @VM.CurrentAddress
            </MudButton>
        </div>

        <div class="search-line"  >
            <AdvTextField @ref="_searchField"
                          Placeholder="검색어를 입력하세요"
                          T="string"
                          DisableUnderLine="true"
                          @bind-Value="VM.SearchText"
                          OnKeyUp="VM.Handle_KeyUp" />
            <MudIconButton Icon="@Icons.Material.Outlined.Search" OnClick="VM.SearchPlacesAsync" />
            <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="VM.ClearPlacesAsync" />
        </div>

        @if (VM.Searched && !VM.Places.Any())
        {
            <div class="place-list">
                <div style="padding:20px;">
                    검색결과가 없습니다
                </div>
            </div>
        }
        else
        {
            <MudList id="@VM.ListElementId" Class="place-list" @bind-SelectedValue="VM.SelectedListItem" Clickable="true">
                @foreach (var place in VM.Places)
                {
                    <MudListItem id="@place.Id" Class="list-item" Value="place" OnClick="@(()=> VM.Handle_PlaceSelected(place))">
                        <Bridge.WebApp.Pages.Home.Views.Components.PlaceItemView Place="place" />
                    </MudListItem>
                }
            </MudList>
        }
    </div>
</div>
@code {
    private MudTextField<string>? _searchField;

    protected override async Task OnInitializedAsync()
    {
        VM.Receiver = this;
        VM.SearchCompleted = new EventCallback(this, () =>
        {
            _searchField?.BlurAsync();
        });
        await VM.InitAsync();
    }


    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        await VM.DisposeAsync();
        GC.SuppressFinalize(this);
    }
}