@using Bridge.Domain.Places.Entities
@using Bridge.WebApp.Pages.Admin.Models
@using Bridge.WebApp.Pages.Admin.Records
@using Bridge.WebApp.Pages.Admin.ViewModels
@attribute [Route(PageRoutes.Admin.PlaceList)]
@attribute [Authorize(Policy = Bridge.Shared.Constants.PolicyConstants.Admin)]
@inject IPlaceListViewModel VM

<div class="page">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudToolBar>
            <div class="place-type-select">
                <AdvSelect T="PlaceType?"
                           Label="장소 타입"
                           @bind-Value="VM.PlaceType"
                           ToStringFunc="@(new Func<PlaceType?, string>(type => VM.GetPlaceTypeText(type)))">
                    @{
                        <MudSelectItem Value="(PlaceType?)null" />
                        foreach (PlaceType? type in Enum.GetValues<PlaceType>())
                        {
                            <MudSelectItem Value="@type"></MudSelectItem>
                        }
                    }
                </AdvSelect>
            </div>

            <div class="search-field">
                <AdvTextField T="string"
                              Label="검색어"
                              @bind-Text="VM.SearchText"
                              OnKeyUp="VM.OnSearchTextKeyUp">
                </AdvTextField>
            </div>

            <MudButton Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Refresh"
                       OnClick="VM.OnLoadClick">조회</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="VM.OnCreateClick"
                       StartIcon="@Icons.Material.Filled.Add">추가</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="VM.OnCreateRestroomClick"
                       StartIcon="@Icons.Material.Filled.Add">화장실 추가</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="VM.OnRestroomExcelDownloadClick"
                       StartIcon="@Icons.Material.Filled.Add">화장실 엑셀 다운로드</MudButton>
            <MudButton Variant="Variant.Outlined"
                       OnClick="VM.OnRestroomExcelUploadClick"
                       StartIcon="@Icons.Material.Filled.Add">화장실 엑셀 업로드</MudButton>
        </MudToolBar>

        <MudTable T="PlaceRecord"
                  Items="VM.Places"
                  RowsPerPage="VM.RowsPerPage"
                  Hover="true"
                  Dense="true">
            <HeaderContent>
                <MudTh>유형</MudTh>
                <MudTh>이름</MudTh>
                <MudTh>카테고리</MudTh>
                <MudTh>주소</MudTh>
                <MudTh>연락처</MudTh>
                <MudTh>위경도</MudTh>
                <MudTh>동북향</MudTh>
                <MudTh>영업시간</MudTh>
                <MudTh>메뉴</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="유형">
                    <MudHighlighter Text="@context.TypeString" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="이름">
                    <MudHighlighter Text="@context.Name" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="카테고리">
                    <MudHighlighter Text="@context.CategoriesString" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="주소">
                    <MudHighlighter Text="@context.Address" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="연락처">
                    <MudHighlighter Text="@context.ContactNumber" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="위경도">
                    <MudHighlighter Text="@context.LatitudeLongitudeString" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="동북향">
                    <MudHighlighter Text="@context.EastingNorthingString" HighlightedText="@VM.SearchText" />
                </MudTd>
                <MudTd DataLabel="영업시간">
                    <MudButton Variant="Variant.Outlined" @onclick="@(() => VM.OnShowOpeningTimeClick(context))">@(context.ShowOpeningTimes ? "닫기" : "열기")</MudButton>
                    </MudTd>
                    <MudTd>
                        <MudMenu Label="메뉴"
                             Variant="Variant.Outlined"
                             EndIcon="@Icons.Filled.KeyboardArrowDown">
                            <MudMenuItem @onclick="@(() => VM.OnEditPlaceClick(context))">수정</MudMenuItem>
                            <MudMenuItem @onclick="@(() => VM.OnManagePlaceClick(context))">장소 관리</MudMenuItem>
                            <MudMenuItem @onclick="@(() => VM.OnManageProductClick(context))">제품 관리</MudMenuItem>
                            <MudMenuItem @onclick="@(() => VM.OnClosePlaceClick(context))">폐업</MudMenuItem>
                        </MudMenu>
                    </MudTd>
                </RowTemplate>

                <ChildRowContent>
                @if (context.ShowOpeningTimes)
                {
                    <MudTr>
                        <td colspan="4">
                            @foreach (var openingTime in context.OpeningTimesFromMonday)
                            {
                                <Bridge.WebApp.Pages.Admin.Components.OpeningTimeListItem OpeningTime="@(OpeningTimeFormModel.Create(openingTime))" ReadOnly="true" />
                            }
                        </td>
                    </MudTr>
                }
            </ChildRowContent>

            <PagerContent>
                <TablePagination TotalCount="VM.TotalCount" PageCount="VM.PageCount"
                                 PageNumber="VM.PageNumber" PageNumberChanged="VM.OnPageNumberChanged"
                                 RowsPerPage="VM.RowsPerPage" RowsPerPageChanged="VM.OnRowsPerPageChanged" />
            </PagerContent>

        </MudTable>
    </MudContainer>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VM.OnLoadClick();
    }
}
