@using Bridge.Api.Controllers.Identity.Dtos
@using Bridge.Shared.Extensions
@using Bridge.WebApp.Api.ApiClients.Identity
@using Bridge.WebApp.Constants
@using Bridge.WebApp.Pages.Identity.Models
@using Bridge.WebApp.Services
@using Bridge.WebApp.Services.Identity

@attribute [Route(PageRoutes.Identity.Login)]
@attribute [AllowAnonymous]

<div class="page">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudForm @ref="_form" Model="_loginModel" Validation="_validator.ModelValidation">
            <MudGrid Spacing="1">
                <MudItem xs="12">
                    <MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center">브릿지</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField @ref="_emailField"
                                  @bind-Value="@_loginModel.Email"
                                  For="@(()=>_loginModel.Email)"
                                  Label="이메일" />

                </MudItem>
                <MudItem xs="12">

                    <MudTextField @ref="_passwordField"
                                  @bind-Value="@_loginModel.Password"
                                  For="@(()=>_loginModel.Password)"
                                  Label="비밀번호"
                                  OnKeyUp="Password_OnKeyUp"
                                  InputType="InputType.Password" />

                </MudItem>
                <MudItem xs="12">

                    <MudCheckBox @bind-Checked="@_loginModel.RememberMe"
                                 For="@(()=>_loginModel.RememberMe)"
                                 Label="이메일 기억하기" />
                </MudItem>
                @if (!string.IsNullOrWhiteSpace(Error))
                {
                    <MudItem xs="12">
                        <MudAlert Severity="Severity.Error">@Error</MudAlert>
                    </MudItem>
                }

                <MudItem xs="12">
                    <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@RequestLoginAsync">로그인</MudButton>
                </MudItem>

            </MudGrid>
        </MudForm>
    </MudContainer>
</div>