@page "/"

<PageTitle>브릿지</PageTitle>

<div class="page">
    <MudContainer>
        <div class="search-line">
            <MudAutocomplete Placeholder="검색어를 입력하세요"
                         T="string"
                         @bind-Text="_searchText"
                         Adornment="Adornment.Start"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         SearchFunc="async (text) => new List<string>()"
                         Variant="Variant.Filled"
                         OnKeyUp="AutoComplete_OnKeyUpAsync" />
            <MudIconButton OnClick="Settings_ClickAsync"
                Icon="@Icons.Material.Filled.Settings" />
        </div>
        

        <MudList>
            @{
                foreach (var place in _placeList)
                {
                    <MudListItem>
                        <div class="place-item">
                            <MudImage  Width="100" Height="100" />
                            <div>
                                <MudText>@place.Name</MudText>
                                <MudText>@place.Address</MudText>
                                <MudText>@place.DistanceString</MudText>
                                <MudText>@place.ContactNumber</MudText>
                            </div>
                            <div>
                                <MudText>@place.CategoriesString</MudText>
                            </div>
                        </div>

                    </MudListItem>
                }
            }

        </MudList>
    </MudContainer>
</div>