@using Bridge.WebApp.Pages
@inherits LayoutComponentBase

<PageTitle>플차</PageTitle>

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<div class="main-layout">
    <MudLayout>
        @if (_isAdmin)
        {
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Never" Variant="DrawerVariant.Temporary" Elevation="1">
                <NavMenu />
            </MudDrawer>
        }

        <MudToolBar Class="main-layout-toolbar">
            @if (_isAdmin)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" />
            }

            <MudSpacer />

            @if (_isAuthenticated)
            {
                <MudButton Size="Size.Medium"
                       Variant="Variant.Text"
                       Href="@(PageRoutes.Identity.Logout)">
                    로그아웃
                </MudButton>
            }
            else
            {
                <MudButton Size="Size.Medium"
                       Variant="Variant.Text"
                       Href="@(PageRoutes.Identity.Register)">
                    가입하기
                </MudButton>
                <MudButton Size="Size.Medium"
                       Variant="Variant.Text"
                       Href="@(PageRoutes.Identity.Login)">
                    로그인
                </MudButton>
            }
        </MudToolBar>


        <main>
            @Body
        </main>
    </MudLayout>
</div>
