@using Bridge.Domain.Places.Entities
@using Bridge.Domain.Places.Entities.Places
@using Bridge.WebApp.Pages.Admin.Models
@using Bridge.WebApp.Pages.Admin.ViewModels
@inject IRestroomFormViewModel VM

<MudDialog>
    <DialogContent>
        <div Style="max-height:750px; padding:10px; overflow-y: scroll">
            <MudForm @bind-IsValid="VM.IsRestroomValid"
                     ValidationDelay="0">
                <div class="container">
                    <MudText Typo="Typo.h5">기본 정보</MudText>
                    <MudSpacer />
                    <MudDivider Style="margin-bottom:4px;" />
                    <MudGrid Spacing="1">
                        <MudItem xs="12">
                            <AdvTextField @bind-Value="VM.Restroom.Name"
                                          Validation="@(VM.GetValidation(x=> x.Name))"
                                          Label="장소명" />
                        </MudItem>
                        <MudItem xs="12">
                            <AdvTextField @bind-Value="VM.Restroom.BaseAddress"
                                          Label="기본주소"
                                          Validation="@(VM.GetValidation(x=> x.BaseAddress))" />
                        </MudItem>
                        <MudItem xs="12">
                            <AdvTextField @bind-Value="VM.Restroom.DetailAddress"
                                          Label="상세주소"
                                          Validation="@(VM.GetValidation(x=> x.DetailAddress))" />
                        </MudItem>
                        <MudItem xs="4">
                            <AdvCheckBox @bind-Checked="VM.Restroom.IsUnisex" Label="남녀공용" />
                        </MudItem>
                        <MudItem xs="4">
                            <AdvSelect @bind-Value="VM.Restroom.DiaperTableLocation"
                                       T="DiaperTableLocation?"
                                       ToStringFunc="VM.GetDiaperTableLocationText"
                                       Label="테이블 위치">
                                @{
                                    <MudSelectItem T="DiaperTableLocation?" Value="null">@VM.GetDiaperTableLocationText(null)</MudSelectItem>
                                    foreach (var location in Enum.GetValues<DiaperTableLocation>())
                                    {
                                        <MudSelectItem T="DiaperTableLocation?" Value="location">@VM.GetDiaperTableLocationText(location)</MudSelectItem>
                                    }
                                }
                            </AdvSelect>
                        </MudItem>
                         <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleToilet" Label="남자 대변기" />
                        </MudItem>
                         <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleDisabledToilet" Label="남자 장애인 대변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleKidToilet" Label="남자 아이 대변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleUrinal" Label="남자 소변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleDisabledUrinal" Label="남자 장애인 소변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.MaleKidUrinal" Label="남자 아이 소변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.FemaleToilet" Label="여자 대변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.FemaleDisabledToilet" Label="여자 장애인 대변기" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="VM.Restroom.FemaleKidToilet" Label="여자 아이 대변기" />
                        </MudItem>
                    </MudGrid>
                </div>
                <div style="margin-top:30px;">
                    <MudText Typo="Typo.h5">영업시간</MudText>
                    <MudSpacer />
                    <MudDivider Style="margin-bottom:4px;" />
                    <MudGrid Spacing="1">
                        <MudItem xs="12">
                            @foreach (var openingTime in VM.Restroom.OpeningTimes)
                            {
                                <Bridge.WebApp.Pages.Admin.Views.Components.OpeningTimeView OpeningTime="openingTime" IsReadOnly="false" />
                            }
                        </MudItem>
                    </MudGrid>
                </div>
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Error"
                   OnClick="VM.OnCancelClick">
            취소
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="VM.OnSaveClick">
            저장
        </MudButton>
    </DialogActions>
</MudDialog>
@code{

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; } = null!;

    /// <summary>
    /// 장소 아이디
    /// </summary>
    [Parameter]
    public long PlaceId { get; set; }

    /// <summary>
    /// 폼 모드
    /// </summary>
    [Parameter]
    public FormMode FormMode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        VM.MudDialog = MudDialog;
        VM.RestroomId = PlaceId;
        VM.FormMode = FormMode;
        await VM.Initialize();
    }

}